:root {
    --max-readable-width: 900px;
    --readable-padding: 48px 8px;
}

.centralized {
    margin: auto;
}

.reading-width {
    max-width: var(--max-readable-width);
}

.reading-padding {
    padding: var(--readable-padding);
}
